.card2 {
    letter-spacing: 0.5vw;
    font-size: 14px;
    justify-content: left;
    text-align: left;
    width: 70vh;
    border-width: 0px;
    align-items: center;
}

.card {
    letter-spacing: 0.5vw;
    font-size: 14px;
    
}





